body {
    background-color: black;
    text-align: center;
}
.container {
    margin: 0 auto;
    background-color: black;
    border-radius: 20px;
    padding: 25px 50px;
    width: 80vw;
    color: white
}

/* styling for the action buttons */

.action {
    max-width: 800px;
    padding:40px 0;
    margin: 0 auto;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
}

h1 {
    font-family: 'Quintessential', cursive;
    font-size: 50px;
    letter-spacing: 10px;
}

/* styling for the result images */
.display-moves { 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

}
.move {
    border-radius: 50%;
    border-width: 4px;
    border-style: solid;
    border-color: aqua;
}

/* positioning of VS needs to fixed */
.Seperator {
    font-size: 100px;
    padding-bottom: 200px;
    position:absolute;
    bottom: 74px;
}

/* positioning of the display moves */

#p-move {
    position: absolute;
    left: 170px;
    width: 300px;
    height: 250px;
    
  }
  
  #c-move{
    position: absolute;
    right: 170px;
    width: 300px;
    height: 250px;
    
  }
  
  /* positioning of the score needs to be fixed */
  .score-board {
      font-size: xx-large;
      text-align-last: center;
      padding-top: 300px;
      position: relative;
  }
.options {
    width: 200px;
    height: 150px;
}